*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Arial';
}

.nav{
    background: purple;
    height: 70px;
    padding: 0 50px;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}

.custom-link{
    color: #fff;
    text-decoration: none;
    line-height: 70px; 
    padding: 0 20px;
    display: inline-block;
}

.title{
    font-size: 3rem;
    color: #fff;
    text-align: center;
    line-height: 100vh;
}

.section{
    height: 100vh;
    background-attachment: fixed;
}

.section:nth-of-type(1){
    margin-top: 70px;
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.section:nth-of-type(2){
    background-image: linear-gradient(to top, #5ee7df 0%, #b490ca 100%);
}

.section:nth-of-type(3){
    background-image: linear-gradient(to top, #cd9cf2 0%, #f6f3ff 100%);
}